.body {
  background-color: #2b6777;
  font-family: "Fjalla One", sans-serif;
  padding-top: 20px;
  padding-bottom: 100px;
}

.indexMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Fjalla One", sans-serif;
}

.portfolioMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Fjalla One", sans-serif;
}

.headers {
  font-size: xx-large;
}

.home {
  text-decoration: none;
  padding: 10px;
}

.about {
  text-decoration: none;
  padding: 10px;
}

.portfolio {
  text-decoration: none;
  padding: 10px;
}

.portfolio-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

footer {
  position: fixed;
  left: -200px;
  bottom: 0;
  /* social icons / footer interfering with bottom link in portfolio */
  width: 60%;
  text-align: center;
}

img {
  border-radius: 10%;
}

a {
  margin: 30px;
}

#coding {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  margin-bottom: -10px;
}

a {
  display: inline-block;
}
